@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f7f2;
  }
}

.agro-gradient {
  background: linear-gradient(135deg, #1b4332 0%, #2d6a4f 100%);
}

#root {
  transform-origin: top left;
}
